# Allow the build folder to include game build
!build/
!build/**

# delete the cmakecache.txt
build/CMakeCache.txt
build/_deps/sfml-subbuild/CMakeCache.txt


# Exclude intermediate build artifacts but allow game output
build/**/Debug/
build/**/Release/
build/**/obj/
build/**/logs/

# Keep specific game-related files or folders
!build/game/
!build/game/**

# Keep _deps folder and contents
!_deps/
!_deps/**

# Stop build uploading but keep tracked content
/out
/out/*

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### VisualStudio ###
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Keep game builds in `build` folder
!build/game/
!build/game/**

# Visual Studio cache files
.vs/
*.VC.db
*.VC.VC.opendb
